/** @format */
@import "./main.css";

.body {
  color: var(--main-color);
}

.container {
  width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.list-style-none {
  list-style: none;
}

/* section header */

.header {
  .container {
    .nav-logo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 28px;
      .nav_left {
        display: flex;
        align-items: center;
        .link {
          display: flex;
          .img {
            width: 140px;
            height: 22px;
          }
        }
      }
      .nav_right {
        display: flex;
        align-items: center;
        .list {
          display: flex;
          margin-right: 60px;
          .item {
            &:not(:last-child) {
              margin-right: 60px;
            }
            .link {
              color: var(--color-nav);
              font-family: "Roboto";
              font-size: 17px;
              font-weight: 400;
              line-height: 1.17;
              text-decoration: none;
            }
          }
        }
        .wrapper {
          display: flex;
          align-items: center;
          .link {
            &:first-child {
              margin-right: 30px;
            }
            .img {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }
  }
}

/* section paper */

.paper {
  border: 1px solid red;
  .container {
    display: flex;
    justify-content: space-between;
    .left_wrapper {
      padding: 130px 0;

      .title {
        color: var(--color-nav);
        font-family: "Roboto";
        font-size: 60px;
        font-weight: 400;
        line-height: 1;
        max-width: 444px;
        text-align: left;
        margin-bottom: 30px;
      }
      .desc {
        color: var(--color-desc);
        font-family: "Roboto";
        font-size: 18px;
        font-weight: 400;
        line-height: 1.5;
        text-align: left;
        margin-bottom: 53px;
        display: inline-block;
        width: 388px;
      }
      .link {
        text-decoration: none;
        .btn {
          color: var(--color-link);
          padding: 14px 41px;
          background-color: transparent;
          font-family: "Roboto";
          font-size: 15px;
          font-weight: 400;
          line-height: 1.172;
          border: 1px solid #7875fe;
          border-radius: 5px;
          display: flex;
        }
      }
    }
    .img {
      width: 540px;
      height: 560px;
      margin-top: 60px;
    }
  }
}

/* section compound */

.compound {
  background-color: #e7e7e7c5;
  .container {
    .list {
      display: flex;
      justify-content: space-between;
      .item {
        display: flex;
        flex-direction: inherit;
        justify-content: space-between;
        margin-top: 90px;

        .img {
          width: 160px;
          height: 118px;
          margin-right: 30px;
        }

        .subtitle {
          color: var(--color-subtitle);
          font-family: "Roboto";
          font-size: 18px;
          font-weight: 500;
          line-height: 1.5;
          text-align: left;
          display: flex;
          flex-direction: row;
        }
        .desc {
          color: var(--color-desc);
          font-family: "Roboto";
          font-size: 18px;
          font-weight: 400;
          line-height: 1.5;
          text-align: left;
          display: flex;
          flex-direction: column-reverse;
          max-width: 160px;
        }
      }
    }
    .wrapper_bottom {
      display: flex;
      flex-direction: row-reverse;
      margin-top: 90px;
      .info_wrapper {
        .subtitle {
          color: var(--color-title);
          font-family: "Roboto";
          font-size: 40px;
          font-weight: 400;
          line-height: 1;
          display: flex;
          text-align: left;
          max-width: 350px;
        }
        .text {
          color: var(--color-desc);
          font-family: "Roboto";
          font-size: 18px;
          font-weight: 400;
          line-height: 1.7;
          text-align: left;
          margin-top: 20px;
          max-width: 300px;
        }
        .img {
          width: 730px;
          height: 654px;
          margin-right: 30px;
        }
      }
    }
  }
}
